@page
@model FoodModel
@{
    ViewData["Title"] = "Food";
}

<head>
    <script src="https://kit.fontawesome.com/58bb092986.js" crossorigin="anonymous"></script>
</head>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
