@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://kit.fontawesome.com/58bb092986.js" crossorigin="anonymous"></script>
</head>

<div class="text-center">
    <h1 class="display-4">
        <i class="fa-solid fa-burger"></i>
        El Rinconcito
    </h1>
</div>
