@page
@model UbicacionModel
@{
    ViewData["Title"] = "Ubicacion";
}

<head>


</head>

<h1>@ViewData["Title"]</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1036.2439648475174!2d-83.03084769465066!3d9.971657215893554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa705af2a7a6b8b%3A0xa080b855ac6642d0!2sPlaza%20de%20Cieneguita!5e1!3m2!1sen!2scr!4v1691341058960!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p>blablablabla,Cieneguita,Limon,Costa Rica</p>
